<!DOCTYPE html>
<html>
  <head>
    <title>Fb5</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id="container">
      <div id="menu">	
		<% if current_user %>
		   Logged in as <%= current_user.email %>.
		   <%= link_to "Log Out", session_path("current"), method: "delete" %> 
		   <%= link_to "View Profile", user_path(:current) %>
		<% else %>
		   <%= link_to "Sign Up", new_user_path %> or
		   <%= link_to "Log In", new_session_path %>
		<% end %>
	  </div>
	
	<% flash.each do |name, msg| %>
	   <%= content_tag :div, msg, id: "flash_#{name}" %>
	<% end %>
	  
      <%= yield %>
    </div>
  </body>
</html>
